@charset "utf-8";
/*---Common and Standard->START*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Baumans');
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: lato;
}
a.linkopac img {
	filter: alpha(opacity=100%);
	-moz-opacity: 1.0;
	opacity: 1.0;
	background-color: transparent;
}
a.linkopac:hover img {
	filter: alpha(opacity=20%);
	-moz-opacity: 0.8;
	opacity: 0.8;
	border: 0px none;
}
.org-clear {
	clear: both;
}
.org-wrap {
	width: 100%;
}
.pagecontainer {
	background: none;
	width: 100%;
}
.esd-wrapcen {
	display: table;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%;
}
.pagecontainer > table {
	width: 100%;
	float: left;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	margin: 0;
	display: table;
	background: rgba(0, 0, 0, 0) url("../images/mainbg.jpg") repeat scroll center top;
}
.tb_v4bc {
	background: #fff none repeat scroll 0 0 !important;
}
.pagecontainer table tr td table:nth-child(2) {
	background: none;
	box-sizing: border-box;
	display: table;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0;
	text-align: center;
	width: 100%;
}
.pagecontainer {
}
#gh {
	background: #fff none repeat scroll 0 0;
	margin: 0;
	padding: 35px 0 10px;
	position: relative;
	white-space: nowrap;
}
#org-designedby1 > img {
	max-width: 100%;
	width: auto;
}
/*---Common and Standard---<<END*/

/*---Header->START*/
#esd-header {
	background: rgba(0, 0, 0, 0) url("../images/headerlinebg.png") no-repeat scroll center 140px;
	margin: 10px auto 0;
	padding: 0;
	position: relative;
	width: 1002px;
	z-index: 11;
}
.headerleftside {
	display: inline-block;
	float: left;
	margin-top: 60px;
	width: 355px;
}
.phoneheader {
	background: rgba(0, 0, 0, 0) url("../images/phoneicon.png") no-repeat scroll left center;
	color: #00deff;
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	height: 44px;
	line-height: 40px;
	margin-left: -10px;
	padding-left: 45px;
	text-shadow: 0 0 15px #1ed9ff;
	width: auto;
}
#esd-menu {
	display: inline-block;
	margin: 10px auto 0px;
	padding: 0;
	position: relative;
	width: auto;
	z-index: 1;
}
#esd-menu ul {
	display: inline-block;
	list-style: outside none none;
	margin: 0px auto;
	padding: 0;
	position: relative;
	width: auto;
}
#esd-menu ul li {
	float: left;
	list-style: outside none none;
	margin: 0px 40px 0px 0px;
	padding: 35px 0px 0px;
	height: 43px;
}
#esd-menu ul li:first-child {
	background: url(../images/homeicon.png) no-repeat center top;
}
#esd-menu ul li:nth-child(2) {
	background: url(../images/aboutusicon.png) no-repeat center top;
}
#esd-menu ul li:nth-child(3) {
	background: url(../images/feedbackicon.png) no-repeat center top;
	margin: 0px;
}
.headerrightside #esd-menu ul li:first-child {
	background: url(../images/newarrivalicon.png) no-repeat center top;
}
.headerrightside #esd-menu ul li:nth-child(2) {
	background: url(../images/endingsoonicon.png) no-repeat center top;
}
.headerrightside #esd-menu ul li:nth-child(3) {
	background: url(../images/contactusicon.png) no-repeat center top;
	margin: 0px;
}
#esd-menu ul li.last {
	border: 0 none;
	margin: 0px;
	padding: 0px;
}
#esd-menu ul li a {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	color: #00deff;
	text-shadow: 0px 0px 15px rgba(30, 217, 255, 1);
	text-decoration: none;
	transition: all 0.5s ease-out;
}
#esd-menu ul li a:hover {
	color: #fff;
	text-decoration: none;
}
#esd-logo {
	display: inline-block;
	margin: -10px 30px 0 25px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center;
	width: 200px;
	z-index: 1;
}
.headerrightside {
	display: inline-block;
	float: right;
	margin-top: 8px;
	width: 381px;
}
/*---search->START*/
#search-box {
	background: rgba(0, 0, 0, 0) url("../images/search-bg.png") repeat scroll 0 0;
	border: 0 none;
	border-radius: 0;
	color: #ffffff;
	float: right;
	height: 51px;
	line-height: 51px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 276px;
}
#search-box .v4stw {
	padding: 0 !important;
}
#search-box .v4sbox {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-right: medium hidden;
	clear: both;
	color: #888888;
	cursor: text;
	display: table;
	float: left;
	font-family: lato;
	font-size: 14px;
	font-weight: normal;
	height: 36px;
	line-height: 36px;
	margin: 0;
	padding: 0 8px 0 7px;
	text-indent: 1px;
	width: 215px !important;
}
#search-box input {
	background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll center center;
	border: 0 none;
	cursor: pointer;
	display: block;
	float: right;
	height: 46px;
	margin: 1px 0 0 -10px;
	padding: 0;
	text-indent: -9999px;
	width: 40px;
}
#search-box input:hover {
	opacity: 0.9;
}
#v4-2, label {
	display: blok !important;
}
#v4-2 {
	display: none !important;
}
.v4stw td {
	margin: 0 !important;
	padding: 0 !important;
}
/*---search->END*/
#org-menu {
	background: hsla(0, 0%, 0%, 0) url("../images/menu-bg.png") repeat scroll center top;
	display: table;
	float: none;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%;
}
#org-menu ul {
	display: table;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#org-menu li {
	box-sizing: border-box;
	float: left;
	list-style: outside none none;
	margin: 9px 23px 0;
	padding: 0 7px;
	transition: all 0.7s ease-in-out 0s;
	width: auto;
}
#org-menu li:last-child {
}
#org-menu li:hover {
	background: #fff;
}
#org-menu li a {
	color: #ffffff;
	float: left;
	font-family: lato;
	font-size: 16px;
	font-weight: 400;
	height: 30px;
	letter-spacing: 1.3px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: none;
}
#org-menu li:last-child a {
	margin: 0;
}
#org-menu li:last-child {
}
#org-menu li:hover {
}
#org-menu li:hover a {
	color: #000;
	transition: 0.3s all ease-in;
}
.org-banner {
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 1000px;
}
.org-banner > img {
	width: 100%;
}
/*---Header---<<END*/

/*---eBay Default Mods->START*/
#TopPromoArea {
	padding: 0px !important;
	margin: 0px !important;
}
/*---Left Column->START*/
#LeftPanel {
	width: 220px;
	text-align: left;
	vertical-align: top;
	padding: 0px;
	float: left;
}
#LeftPanel * {
	padding: 0px;
	margin: 0px;
}
#LeftPanel img {
	border: 0px;
}
#LeftPanel .ttl {
	color: #323232;
	font-size: 12pt;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding: 0.4em 2%;
	margin: 0;
	overflow: hidden;
	width: 96%;
	text-align: left;
	border-bottom: 1px solid #c6c6c6;
	display: none;
}
#LeftPanel .ttl a {
	color: #323232;
	font-size: 12pt;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	text-align: left;
}
#LeftPanel .ttl a:hover {
	color: #fff;
	background: #545254;
	text-decoration: none;
}
#LeftPanel .cnt {
 display:  !important;
}
#LeftPanel .all_cats {
	display: none !important;
}
#LeftPanel .link {
	display: none !important;
}
.v4accent {
	display: none;
}
#LeftPanel .v4acpcont {
	width: 200px !important;
	float: left;
	margin: 0 0 0!important;
	padding: 0;
}
.v4acpcont td {
	box-sizing: border-box;
	width: 220px;
}
#LeftPanel .v4acpcont .v4acp {
	width: 200px !important;
	float: left;
	margin: 0;
	padding: 0;
}
#LeftPanel .v4acpcont .v4acp .v4acp_head {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
#LeftPanel .v4acpcont .v4acp .v4acp_head .v4title {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	background: none;
}
#LeftPanel .v4acpcont .v4acp .v4acp_head .v4title font {
  box-sizing: border-box;
  color: #5a3e26;
  font-family: baumans;
  font-size: 20px;
  font-weight: 500;
  height: auto;
  letter-spacing: 1px;
  line-height: unset;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 48px;
  text-transform: none;
  width: 100%;
}
.v4title h2 {
	font-weight: bold !important;
}
#LeftPanel .v4acpcont .v4acp .v4acp_head .v4title font h2 {
  background: rgba(0, 0, 0, 0) url("../images/left-title.png") no-repeat scroll left top / 100% 100%;
  font-size: inherit;
  height: 71px;
  line-height: 48px;
  width: 220px;
}
#LeftPanel .v4acpcont .v4midBox.v4nfc {
	background: hsla(0, 0%, 0%, 0) url("../images/bottom-shadow.png") no-repeat scroll center bottom;
	border: 0 none;
	float: left;
	margin: 0 0 15px;
	padding: 0px;
	width: 220px;
}
#LeftPanel .v4acpcont .v4mid {
	background: none;
	width: 220px;
	float: left;
	margin: 0;
	padding: 0;
	border: 0 none;
}
#LeftPanel .v4acpcont div.lcat {
	background: none;
	border: 0 none;
	border-radius: 0;
	float: left;
	margin: 0;
	padding: 0;
	width: 220px;
}
#LeftPanel ul.lev1 {
	border: 0;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}
#LeftPanel ul.lev1 li {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-bottom: 1px dotted #333;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}
#LeftPanel ul.lev1 li:hover {
}
#LeftPanel ul.lev1 li a {
  background: rgba(0, 0, 0, 0) url("../images/cat-arrow.png") no-repeat scroll 10px center;
  color: #00deff;
  display: block;
  font-family: baumans;
  font-size: 15px;
  font-weight: normal;
  height: 34px;
  line-height: 34px;
  margin: 0;
  overflow: hidden;
  padding: 0 5px 0 30px;
  text-align: left;
  text-decoration: none;
  transition: all 0.5s ease-out 0s;
  width: 180px;
}
#LeftPanel ul.lev1 li a:hover {
	background: url("../images/cat-arrow-ho.png") no-repeat scroll 10px center;
	color: #818181;
}
#LeftPanel ul.lev1 li span {
	background: url("../images/cat-arrow-ho.png") no-repeat scroll 10px center;
	color: #818181;
	display: block;
	font-family: lato;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	height: 34px;
	line-height: 34px;
	padding: 0 5px 0 25px;
	text-align: left;
	text-decoration: none;
	transition: all 0.5s ease-out 0s;
	width: 190px;
}
#LeftPanel ul.lev1 li .cnt {
	display: none;
}
#LeftPanel ul.lev2 {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	background: #fff;
}
#LeftPanel ul.lev2 li:hover {
}
#LeftPanel ul.lev2 li a {
	background: rgba(0, 0, 0, 0) url("../images/cat-arrow.png") no-repeat scroll 10px center;
	color: rgb(0,173,239);
	display: block;
	font-family: lato;
	font-size: 13px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin: 0;
	overflow: hidden;
	padding: 0 5px 0 25px;
	text-align: left;
	text-decoration: none;
	transition: all 0.5s ease-out 0s;
	width: 190px;
}
#LeftPanel ul.lev2 li a:hover {
	background: #00adef url("../images/cat-arrow-ho.png") no-repeat scroll 10px center;
	color: #fff;
}
#LeftPanel ul.lev2 li span {
	background: #00adef url("../images/cat-arrow-ho.png") no-repeat scroll 10px center;
	color: #fff;
	display: block;
	font-family: lato;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	padding: 0 5px 0 25px;
	text-align: left;
	text-decoration: none;
	transition: all 0.5s ease-out 0s;
	width: auto;
}
#org-cathead {
	background: rgba(0, 0, 0, 0) url("../images/thank-you.png") repeat scroll 0 0 / 100% 100%;
	color: #16325a;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
	text-align: center;
	width: 220px;
}
#LeftPanel .v4acpcont .v4acp .v4baccent {
	height: auto;
}
table.v4acp td.v4vspacer {
	height: 0;
}
.v4nl {
	background: rgb(242,241,237) !important;
	border: 1px solid #e7e7e7;
	border-radius: 0 0 18px 18px;
	color: hsl(0, 0%, 100%);
	float: left;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 18px;
	padding: 10px 14px !important;
	text-align: center;
	width: 100%;
}
.v4stw label, #v4-2 {
	display: none !important;
}
.v4nl .cb {
	width: auto;
	float: left;
	margin: 10px 0 10px 0 !important;
}
.v4nl .sb {
	width: auto;
	float: left;
	margin: 4px 0 10px !important;
	padding: 0;
	text-align: center;
}
.v4nl .sb input {
	background: rgba(0, 0, 0, 0) url("../images/sign.png") no-repeat scroll center center;
	border: 0 none;
	border-radius: 0;
	color: #000000;
	cursor: pointer;
	float: left;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	height: 33px;
	text-align: center;
	text-indent: -999px;
	text-transform: uppercase;
	transition: all 0.5s ease-out 0s;
	width: 110px;
}
.v4nl .sb input:hover {
	opacity: 0.57;
	color: #fff;
}
.cb > input {
	margin: 0 5px 0 0 !important;
}
#LeftPanel .v4thldr {
	width: 100% !important;
}
table.v4nl td {
	color: #000000;
	font-family: lato;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 18px;
	text-align: left;
}
#org-left-copy {
	color: #243141;
	font-family: lato;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0;
	width: 260px;
	text-align: center;
	text-decoration: none;
	float: left;
}
#org-left-copy span {
	color: #8794a5;
	text-transform: uppercase;
	font-weight: bold;
}
#org-left-designer {
	width: 260px;
	float: left;
	color: #243141;
	font-family: lato;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0px;
	text-align: center;
	text-decoration: none;
}
#org-left-designer a {
	text-decoration: none;
	color: #243141;
	font-size: 14px;
}
#org-left-designer a:hover {
	color: #0179c2;
}
#org-left-designedby {
	width: auto;
	padding: 0;
	margin: 0;
	font-family: lato;
	font-size: 14px;
	color: #243141;
}
#org-left-designedby a {
	color: #243141;
	text-decoration: none;
}
#org-left-designedby a:hover {
	color: #0179c2;
	text-decoration: none;
}
/*---Left Column---<<END*/

/*---FOOTER->START*/
.est-copy {
  color: #d2c998;
  font-family: baumans;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  max-width: 100%;
  text-align: center;
  width: 220px;
}
.est-copy span {
	color: #ff6d20;
	font-weight: 600;
}
.org-payment {
	border-top: 0 none;
	display: table;
	margin: 0px 0 18px!important;
	max-width: 220px;
	text-align: center;
	width: 100%;
}
.org-left-thanks {
	clear: both;
	float: left;
	margin: 0 0 30px !important;
}
input#v4-1, input[type="submit"] {
	outline: 0;
}
u {
	display: inline-block;
	margin: 0 0 2px;
	padding: 0;
}
.est-news {
	display: table;
	background: rgba(0, 0, 0, 0) url("../images/left-title.png") no-repeat scroll left top;
	margin: 0 0 15px !important;
	max-width: 100%;
	padding: 0;
	width: 220px;
}
#esd-newshead {
	box-sizing: border-box;
	color: #5a3e26;
	font-family: baumans;
	font-size: 25px;
	font-weight: 500;
	height: 54px;
	letter-spacing: 1px;
	line-height: 50px;
	margin: 0;
	padding: 0 0 0 38px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	width: 100%;
}
#esd-newsletter #news-text {
	color: #d2c998;
	float: left;
	font-family: Baumans;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.5px;
	line-height: 26px;
	margin: 0;
	padding: 17px 18px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
}
#esd-newsletter #esd-signup {
	float: left;
	width: 100%;
	height: auto;
	margin: 10px 0 15px;
	padding: 0px;
	transition: all 0.3s ease-out 0s;
	border: 0px none;
}
#esd-newsletter a.btn-signup {
	background: rgba(0, 0, 0, 0) url("../images/sign.png") no-repeat scroll center top;
	border: 0 none;
	cursor: pointer;
	display: block;
	float: none;
	height: 45px;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	text-indent: -9999px;
	transition: all 0.3s ease-out 0s;
	width: 131px;
}
#esd-newsletter a.btn-signup:hover {
	background: url(../images/sign.png) no-repeat center bottom;
	opacity: 0.57;
}
#esd-newsletter {
	border-bottom: 0px solid #c1c1c1;
	box-sizing: border-box;
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}
#v4-1.v4sbox {
	width: 199px !important;
	height: 41px;
	float: left;
	color: #fff;
	margin: 4px 0 0 15px !important;
	padding: 0 8px!important;
	border-top: 2px solid #dddddd!important;
	border: 0px solid #4c4c4c !important;
	border-radius: 0px;
	background: none !important;
	text-indent: inherit !important;
	cursor: auto;
}
.v4mid input {
	width: 32px;
	height: 32px;
	margin: 18px 16px 18px 0 !important;
	border: 1px solid #d6d6d6;
	border-left: hidden;
	background: none;
	text-indent: -9999px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}
.v4mid input#v4-2 {
	height: auto;
	margin: 2px 10px 20px 16px !important;
	padding: 0;
	width: auto;
	display: block !important;
	width: 270px;
	float: left;
}
.v4mid label {
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	color: #000;
}
#LeftPanel .v4acpcont .v4mid {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0px solid #181818;
	float: left;
	margin: 0;
	padding: 0;
	width: 220px !important;
}
.v4mid label {
	color: #666666;
	line-height: 12px;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	width: 220px;
}
.v4mid tbody {
	display: block;
	width: 218px;
}
.v4mid tr {
	display: block;
	width: 218px;
}
.v4mid input {
	background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll center center;
	border: 0;
	cursor: pointer;
	height: 32px;
	text-indent: -9999px;
	width: 38px !important;
}
.cb > input {
	margin: -6px 10px 0 0 !important;
	float: left;
	width: auto !important;
}
.v4mid input:hover {
	opacity: 0.8;
}
.v4mid table {
	background: #181818 none repeat scroll 0 0;
	border: 1px solid #4c4c4c;
}
.v4mid input#v4-2 {
	float: left;
	height: auto;
	margin: 0 4px 15px 10px !important;
	padding: 0;
	width: auto;
}
.est-designer {
	margin: 10px 0 25px !important;
	padding: 0;
	width: 100%;
}
